<div class="main-content">
  <div class="header-content">
      <div class="emp-detail-text"> 
          Employee Details
      </div>
      <div class="search-box-background">
          <div class="box">
              <img src="../assets/icons/search-30.png" alt="Search Box">
          </div>
      </div>
      <!-- <a class="add-button" Link="">
          <img src="../assets/icons/add-24px.svg" alt="Add User Logo">
          Add User
      </a> -->
      <button class="add-button" routerLink="/empForm" >Add user</button>
  </div>
  
    <div class="table-main">
      <table id="display" class="table">
        <tr style="background: #112538 0% 0% no-repeat padding-box">
          <th></th>
          <th style="color: #ffffff">Name</th>
          <th style="color: #ffffff">Gender</th>
          <th style="color: #ffffff">Department</th>
          <th style="color: #ffffff">Salary</th>
          <th style="color: #ffffff">StartDate</th>
          <th style="color: #ffffff">Actions</th>
        </tr>

        <tr *ngFor = "let item of empDetailList">
          <td>
            <img class="profile" src="../assets/Profile pic/Ellipse -3.png">
          </td>
          <td>{{item.name}}</td>
          <td>{{item.gender}}</td>
          <td>
            <div class="dept-label">{{item.departments}}</div>
          </td>
          <td>{{item.salary}}</td>
          <td>{{item.startDate}}</td>
          <td>
            <img alt="delete" src="../assets/icons/delete-black-18dp.svg" />
            <img alt="edit" src="../assets/icons/create-black-18dp.svg" />
          </td>
        </tr>
      </table>
    </div>
  </div>